<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="zscq.Model.Properties.Settings.db_zscqConnectionString"
            connectionString="Data Source=.;Initial Catalog=db_zscqTest;Persist Security Info=True;User ID=zscq;Password=xch21wa20sz203i0"
            providerName="System.Data.SqlClient" />
        <add name="zscq.Model.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=.;Persist Security Info=True;User ID=zscq"
            providerName="System.Data.SqlClient" />
        <add name="zscq.Model.Properties.Settings.DataSourceConnectionString1"
            connectionString="Data Source=.;Initial Catalog=db_zscqTest;Persist Security Info=True;User ID=zscq;Password=xch21wa20sz203i0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>