.sidebar {
	WIDTH: 240px; 
}

.submenuul {
	BORDER-TOP: #e1e1e1 1px solid
}
.submenulist {
	LINE-HEIGHT: 34px; PADDING-LEFT: 30px; WIDTH: 210px; DISPLAY: block; BACKGROUND: url(../images/bg.gif) no-repeat -480px -100px; HEIGHT: 35px
}
.submenulist:hover {
	BACKGROUND: url(../images/bg.gif) no-repeat -480px -135px
}
.listcurrent {
	LINE-HEIGHT: 34px; PADDING-LEFT: 30px; WIDTH: 210px; DISPLAY: block; BACKGROUND: url(../images/bg.gif) no-repeat -480px -135px; HEIGHT: 35px; COLOR: #963
}
.listcurrent:link {
	LINE-HEIGHT: 34px; PADDING-LEFT: 30px; WIDTH: 210px; DISPLAY: block; BACKGROUND: url(../images/bg.gif) no-repeat -480px -135px; HEIGHT: 35px; COLOR: #963
}
.about-sub {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 20px; PADDING-TOP: 15px
}
.aboutdt {
	LINE-HEIGHT: 34px; PADDING-LEFT: 30px; BACKGROUND: url(../images/h2_r_bg.gif) repeat-x 0px 0px; HEIGHT: 35px; COLOR: #963
}
.aboutdtsub {
	COLOR: #c3ac75
}
.subh {
	BORDER-BOTTOM: #f4f4f4 1px solid; PADDING-BOTTOM: 10px; COLOR: #333
}
.aboutimg {
	MARGIN-TOP: 10px; WIDTH: 240px; HEIGHT: 450px
}
