*{margin:0;padding:0;border:0;}
body {
 font-family: arial, ו, serif;
        font-size:12px;
}

#nav {
  line-height: 24px;  list-style-type: none; background:#666; width:100px; padding:0px;
}

#nav span{
  background: url(../images/arrowbg.gif) no-repeat 0px -552px;float: right;padding-left: 15px;
}

#nav a {
 display: block; width: 95px; text-align:center;font-weight:bold;padding:0px;
}

#nav a:link  {
 color:#fff; text-decoration:none;font-weight:bold;
}
#nav a:visited  {
 color:#fff;text-decoration:none;font-weight:bold;
}
#nav a:hover  {
 color:#FFF;text-decoration:none;font-weight:bold;
}

#nav li {
 float: left; width: 95px; background:#d34245;padding:0px;
}
#nav li a:hover{
 
}
#nav li a{
 text-align:center; padding-left:-10px;
}

#nav li ul {
 line-height: 27px;  list-style-type: none;text-align:left;
 left: -999em; width: 100px; position: absolute; padding:0px;
}
#nav li ul li{
 float: left; width: 95px;
 background: #F6F6F6;
}


#nav li ul a{
 display: block; width: 80px;_width: 80px;height:auto; margin:0 auto;text-align:left; padding-left:15px;
}

#nav li ul a:link  {
 color:#666; text-decoration:none;
}
#nav li ul a:visited  {
 color:#666;text-decoration:none;
}
#nav li ul a:hover  {
 color:#F3F3F3;text-decoration:none;font-weight:normal;
 background:#fa9b3d;
}

#nav li:hover ul {
 left: auto;
}
#nav li.sfhover ul {
 left: auto;
}
#content {
 clear: left;
}
