<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <configSections>
    <!--
		#===============================================================================
		# Url重写 - 生产环境 - 请勿更改
		#===============================================================================
		-->
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=EmulateIE7" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="FCKeditor:BasePath" value="~/Shop_Manage/fckeditor/" />
    <add key="FCKeditor:UserFilesPath" value="~/Shop_Manage/UpPic/" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/web" value="47067;True;6316;1;-8588234171027606831" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="2;web.config.backup" />
    <add key="Language" value="cn_中文,en_英文,jp_日文,kr_韩文" />
  </appSettings>
  <connectionStrings>
    <!--<add name="IHome020ConnectionString1" connectionString="Data Source=.;Initial Catalog=db_zscq;Persist Security Info=True;User ID=zscq;Password=xch21wa20sz203i0" providerName="System.Data.SqlClient" />-->
    <add name="IHome020ConnectionString1" connectionString="Data Source=.;Initial Catalog=db_zscq;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
		#===============================================================================
		# Url重写 - 生产环境 - 请勿更改
		#===============================================================================
	-->
  <RewriterConfig>
    <Rules>

    </Rules>
  </RewriterConfig>
  <system.web>
    <globalization responseEncoding="utf-8" requestEncoding="utf-8" fileEncoding="utf-8" />
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <httpHandlers>
      <add verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory" />
    </httpHandlers>
    <httpModules>
      <!--
			#===============================================================================
			# Url重写 - 生产环境 - 请勿更改
			#===============================================================================
			-->
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
    </httpModules>
    <httpRuntime requestValidationMode="3.5" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>